policy_module(logsentry, 1.0.0)

#######################################
# 
# Declarations
#

type logsentry_t;
type logsentry_exec_t;
application_domain(logsentry_t, logsentry_exec_t)
role system_r types logsentry_t;

type logsentry_tmp_t;
files_tmp_file(logsentry_tmp_t);

#######################################
#
# Local Policy
#

optional_policy(`
  cron_system_entry(logsentry_t, logsentry_exec_t)
')

