policy_module(openstackguestagent, 1.0.0)

#######################################
# 
# Declarations
#

type openstack_guest_agent_t;
type openstack_guest_agent_exec_t;
init_daemon_domain(openstack_guest_agent_t, openstack_guest_agent_exec_t)

type openstack_guest_agent_etc_t;
files_config_file(openstack_guest_agent_etc_t)

type openstack_guest_agent_initrc_exec_t;
init_script_file(openstack_guest_agent_initrc_exec_t)

type openstack_guest_agent_var_run_t;
files_pid_file(openstack_guest_agent_var_run_t)

type openstack_guest_agent_var_cache_t;
files_type(openstack_guest_agent_var_cache_t)

#######################################
#
# Local Policy
#

allow openstack_guest_agent_t self:process { signal setrlimit };
allow openstack_guest_agent_t self:capability { setuid setgid net_admin };
allow openstack_guest_agent_t self:fifo_file { read getattr write ioctl };
allow openstack_guest_agent_t self:netlink_route_socket { setopt nlmsg_write read bind create nlmsg_read write getattr };

allow openstack_guest_agent_t openstack_guest_agent_etc_t:file { read getattr open };

manage_dirs_pattern(openstack_guest_agent_t, openstack_guest_agent_var_cache_t, openstack_guest_agent_var_cache_t)
manage_files_pattern(openstack_guest_agent_t, openstack_guest_agent_var_cache_t, openstack_guest_agent_var_cache_t)

manage_files_pattern(openstack_guest_agent_t, openstack_guest_agent_var_run_t, openstack_guest_agent_var_run_t)
files_pid_filetrans(openstack_guest_agent_t, openstack_guest_agent_var_run_t, file)

files_manage_etc_files(openstack_guest_agent_t)
files_manage_etc_dirs(openstack_guest_agent_t)

files_manage_generic_tmp_files(openstack_guest_agent_t)

auth_manage_shadow(openstack_guest_agent_t)

sysnet_manage_config(openstack_guest_agent_t)

corecmd_exec_bin(openstack_guest_agent_t)
corecmd_exec_shell(openstack_guest_agent_t)
hostname_exec(openstack_guest_agent_t)
sysnet_exec_ifconfig(openstack_guest_agent_t)

kernel_read_system_state(openstack_guest_agent_t)
dev_read_sysfs(openstack_guest_agent_t)
dev_search_sysfs(openstack_guest_agent_t)

logging_send_syslog_msg(openstack_guest_agent_t)

optional_policy(`
  require { type xenfs_t; };
  allow openstack_guest_agent_t xenfs_t:dir { getattr };
  allow openstack_guest_agent_t xenfs_t:file { read write open getattr };
')

