policy_module(openstackguestagent, 1.0.0)

#######################################
# 
# Declarations
#

type openstack_guest_agent_t;
type openstack_guest_agent_exec_t;
init_daemon_domain(openstack_guest_agent_t, openstack_guest_agent_exec_t)

type openstack_guest_agent_etc_t;
files_config_file(openstack_guest_agent_etc_t)

type openstack_guest_agent_initrc_exec_t;
init_script_file(openstack_guest_agent_initrc_exec_t)

type openstack_guest_agent_var_run_t;
files_pid_file(openstack_guest_agent_var_run_t)

type openstack_guest_agent_var_cache_t;
files_type(openstack_guest_agent_var_cache_t)

#######################################
#
# Local Policy
#

allow openstack_guest_agent_t self:process signal;
allow openstack_guest_agent_t self:capability { setuid setgid };

hostname_exec(openstack_guest_agent_t)
sysnet_exec_ifconfig(openstack_guest_agent_t)

logging_send_syslog_msg(openstack_guest_agent_t)

optional_policy(`
  require { type xenfs_t; };
  allow openstack_guest_agent_t xenfs_t:dir { getattr };
  allow openstack_guest_agent_t xenfs_t:file { read write open getattr };
')

