policy_module(singularity, 1.0.0)

type singularity_t;
type singularity_exec_t;
application_domain(singularity_t, singularity_exec_t)

type singularity_cache_t;

allow singularity_t xenfs_t:file { read write open };

noaudit kernel_t cgroup_t:dir { remove_name getattr rmdir };

