policy_module(tmpwatch, 1.0.0)

#######################################
#
# Declarations
#

type tmpwatch_t;
type tmpwatch_exec_t;
application_domain(tmpwatch_t, tmpwatch_exec_t)
role system_r types tmpwatch_t;

######################################
#
# Local Policy
#

